<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Mon assemblée</h3>
              <div class="nk-block-des text-soft">
                <p>Gestions des attributions aux réunions du week-end</p>
              </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddPrivilege"><em class="icon ni ni-plus-circle"></em><span>Ajouter un frère</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">Liste des frères</span> </h6>
              </div>
            </div>
          </div>
          <div class="card-inner p-0 border-top">
            <div class="nk-tb-list nk-tb-orders">
              <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Nom</span></div>
                <div class="nk-tb-col tb-col-md"><span>Lecteur</span></div>
                <div class="nk-tb-col tb-col-md"><span>Président</span></div>
                <div class="nk-tb-col tb-col-md"><span>Orateur</span></div>
                <div class="nk-tb-col tb-col-md"><span>Orateur externe</span></div>
                <div class="nk-tb-col"><span>&nbsp;</span></div>
              </div>
              <div class="nk-tb-item" v-for="(privilege, index) in privileges" :key="index">
                <div class="nk-tb-col">
                  <div class="user-card">
                    <div class="user-avatar user-avatar-sm bg-purple">
                      <span>{{privilege.publisher.initials}}</span>
                    </div>
                    <div class="user-name">
                      <span class="tb-lead">{{privilege.publisher.fullName}}</span>
                    </div>
                  </div>
                </div>
                <div class="nk-tb-col tb-col-md">
                  <input type="checkbox" class="form-check-input" v-model="privilege.isReader" @change="update(privilege)">
                </div>
                <div class="nk-tb-col tb-col-md">
                  <input type="checkbox" class="form-check-input" v-if="privilege.publisher.isElder || privilege.publisher.isServant" v-model="privilege.isChairman" @change="update(privilege)">
                </div>
                <div class="nk-tb-col tb-col-md">
                  <input type="checkbox" class="form-check-input" v-if="privilege.publisher.isElder || privilege.publisher.isServant" v-model="privilege.isSpeaker" @change="update(privilege)">
                </div>
                <div class="nk-tb-col tb-col-md">
                  <input type="checkbox" class="form-check-input" v-if="privilege.publisher.isElder" v-model="privilege.isExternalSpeaker" @change="update(privilege)">
                </div>
                <div class="nk-tb-col nk-tb-col-action">
                  <div class="dropdown">
                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                      <ul class="link-list-plain">
                        <li><a href="#"  data-bs-toggle="modal" :data-bs-target="'#modalEditPrivilege' + index">Modifier</a></li>
                        <li><a href="#"  data-bs-toggle="modal" :data-bs-target="'#modalRemove' + index">Supprimer</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ModalRemove :index="index" :privilege="privilege" @remove-privilege="remove"/>
                <ModalEditPrivilege :privilege="privilege" :index="index" />
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div><!-- .nk-block -->
    <ModalAddPrivilege @load-new="addNew" />
  </div>
</template>

<script>
import axios from "axios";
import ModalRemove from "./fragments/ModalRemove";
import ModalAddPrivilege from "./fragments/ModalAddPrivilege";
import ModalEditPrivilege from "./fragments/ModalEditPrivilege";

export default {
  name: "List",
  components: {ModalEditPrivilege, ModalAddPrivilege, ModalRemove},
  data() {
    return {
      privileges: []
    }
  },
  methods: {
    fetchPrivileges() {
      axios.get('/api/privileges')
          .then((success) => {
            this.privileges = success.data
          })
    },
    update(privilege) {
      const newPrivilege = {
        isChairman: privilege.isChairman,
        isReader: privilege.isReader,
        isSpeaker: privilege.isSpeaker,
        isExternalSpeaker: privilege.isExternalSpeaker
      }
      axios.put('/api/privileges/' + privilege.id, newPrivilege)
          .then((success) => {
            this.$toast('Mis à jour !');
          })
          .catch((error) => {
            this.$toast('Erreur', {
              type: 'error'
            })
          })
    },
    remove(index) {
      this.privileges.splice(index, 1);
    },
    addNew(privilege) {
      this.privileges.push(privilege);
    }
  },
  mounted() {
    this.fetchPrivileges();
  }
}
</script>

<style scoped>

</style>
