<template>
  <div class="modal fade modal-lg" id="modalAddSpeech">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'un discours</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="category">Catégorie</label>
                  <div class="form-control-wrap">
                    <select id="category" class="form-select" v-model="speech.category">
                      <option :value="category" v-for="category in categories">{{category}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="number">Numéro</label>
                  <div class="form-control-wrap">
                    <input type="number" id="number" class="form-control" v-model="speech.number">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="title">Titre</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="title" v-model="speech.title">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postSpeech">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalAddSpeech",
  data() {
    return {
      categories: [
          'foi / spiritualité',
          'derniers jours / jugement de dieu',
          'religion/culte',
          'bible/dieu',
          'famille/jeunes',
          'normes / qualites chretiennes',
          'monde, ne pas faire partie du',
          'Discours spécial',
      ],
      speech: {
        title: null,
        number: null,
        category: 'Discours spécial'
      }
    }
  },
  methods: {
    postSpeech() {
      axios.post('/api/speeches', this.speech)
          .then((success) => {
            this.$toast('Discours ajouté', {
              type: 'success',
              position: 'bottom-center'
            })
            this.speech = null;
            $('#modalAddSpeech').modal('hide');
            this.$emit('new-speech', success.data);
          })
    }
  }
}
</script>

<style scoped>

</style>
