{% extends 'security/base.html.twig' %}

{%block body%}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-md">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
                                    <a href="/" class="logo-link">
                                        <img class="logo-light logo-img logo-img-lg" src="{{ asset('build/images/mikutano_v0_light.png') }}"  alt="logo">
                                        <img class="logo-dark logo-img logo-img-lg" src="{{ asset('build/images/mikutano_v0.png') }}"  alt="logo-dark">
                                    </a>
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Connexion</h5>
                                        <div class="nk-block-des">
                                            <p>Connexion à ton espace pour l'assemblée de {{congregation_name}}</p>
                                        </div>
                                    </div>
                                    {% for label, messages in app.flashes(['success', 'warning']) %}
                                        {% for message in messages %}
                                            <div class="alert alert-pro alert-{{label}}">
                                                <div class="alert-text">
                                                    <p>{{message}}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                    {% if error %}
                                        <div class="alert alert-pro alert-danger">
                                            <div class="alert-text text-danger">
                                                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div><!-- .nk-block-head -->
                                <form action="{{path('app_login')}}" method="post">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="default-01">Email</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control form-control-lg" id="default-01" placeholder="Entre ton adresse e-mail" name="_username" value="{{last_username}}">
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Mot de passe</label>
                                            <a class="link link-primary link-sm" tabindex="-1" href="{{path('app_vue', {'vueRouting': 'forgot/password'})}}">Mot de passe oublié ?</a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password" class="form-control form-control-lg" id="password" name="_password" placeholder="Entre ton mot de passe">
                                        </div>
                                    </div><!-- .form-group -->
                                    <div class="form-group">
                                        <input type="hidden" name="_target_path" value="{{ path('app_vue', {'vueRouting': 'dashboard'}) }}"/>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Je me connecte</button>
                                    </div>
                                </form><!-- form -->

                            </div><!-- .nk-block -->
                            <div class="nk-block nk-auth-footer">
                                <div class="nk-block-between">
                                    <ul class="nav nav-sm">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">CGU</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Gestion des données personnelles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Aide</a>
                                        </li>
                                    </ul><!-- .nav -->
                                </div>
                            </div><!-- .nk-block -->
                        </div><!-- .nk-split-content -->
                        <div class="nk-split-content nk-split-stretch bg-abstract"></div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
{%endblock%}
