<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Mon assemblée</h3>
              <div class="nk-block-des text-soft">
                <p>Gestions des proclamateurs</p>
              </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddPublisher"><em class="icon ni ni-plus-circle"></em><span>Ajouter un proclamateur</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">Liste des proclamateurs</span> </h6>
              </div>
            </div>
          </div>
          <div class="card-inner p-0 border-top">
            <div class="nk-tb-list nk-tb-orders">
              <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Nom</span></div>
                <div class="nk-tb-col tb-col-md"><span>Profil</span></div>
                <div class="nk-tb-col"><span>&nbsp;</span></div>
              </div>
              <div class="nk-tb-item" v-for="(publisher, index) in publishers" :key="index">
                <div class="nk-tb-col">
                  <div class="user-card">
                    <div class="user-avatar user-avatar-sm bg-purple">
                      <span>{{publisher.initials}}</span>
                    </div>
                    <div class="user-name">
                      <span class="tb-lead">{{publisher.fullName}}</span>
                    </div>
                  </div>
                </div>
                <div class="nk-tb-col tb-col-lg">
                  <span class="tb-sub text-primary">
                    <span class="badge bg-primary ms-1" v-if="publisher.isElder">Ancien</span>
                    <span class="badge bg-primary ms-1" v-if="publisher.isServant">Assitant</span>
                  </span>
                </div>
                <div class="nk-tb-col nk-tb-col-action">
                  <div class="dropdown">
                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                      <ul class="link-list-plain">
                        <li><router-link :to="'/app/publishers/show/' + publisher.id">Voir</router-link></li>
                        <li><a href="#"  data-bs-toggle="modal" :data-bs-target="'#modalRemovePublisher' + index">Supprimer</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ModalRemovePublisher :publisher="publisher" :index="index" @remove-publisher="remove" />
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div><!-- .nk-block -->
    <ModalAddPublisher @new-publisher="loadNewPublisher"/>
  </div>
</template>

<script>
import axios from "axios";
import ModalAddPublisher from "./fragments/ModalAddPublisher";
import ModalRemovePublisher from "./fragments/ModalRemovePublisher";

export default {
  name: "List",
  components: {ModalRemovePublisher, ModalAddPublisher},
  methods: {
    fetchPublisher(){
      axios.get('/api/publishers')
          .then((success) => {
            this.publishers = success.data;
          })
    },
    remove(index){
      this.publishers.splice(index, 1);
    },
    loadNewPublisher(publisher) {
      this.publishers.push(publisher);
    }
  },
  data() {
    return {
      publishers: []
    }
  },
  mounted() {
    this.fetchPublisher()
  }
}
</script>

<style scoped>

</style>
