<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Modification proclamateur</h3>
              <div class="nk-block-des text-soft">
                <p>Gestions des proclamateurs</p>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12" v-if="publisher">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">{{publisher.fullName}}</span></h6>
              </div>
            </div>
          </div>

          <div class="card-inner border-top">
            <div class="row">
              <div class="col-xs-12 col-lg-6 mt-2">
                <div class="form-group">
                  <label class="form-label" for="firstName">Prénom</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="firstName" v-model="publisher.firstName">
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-lg-6 mt-2">
                <div class="form-group">
                  <label class="form-label" for="lastName">Nom</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="lastName" v-model="publisher.lastName">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-lg-2">
              <div class="col-xs-12 col-lg-12">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input elder" id="elder" v-model="publisher.isElder" :disabled="publisher.isServant">
                  <label class="custom-control-label" for="elder">Ancien</label>
                </div>
              </div>
              <div class="col-xs-12 col-lg-12 mt-lg-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input servant" id="servant" v-model="publisher.isServant" :disabled="publisher.isElder">
                  <label class="custom-control-label" for="servant">Assistant</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-4">
                <a href="#" class="btn btn-success" @click.prevent="upload">Modifier</a>
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Show",
  methods: {
    upload() {
      const publisher = {
        firstName: this.publisher.firstName,
        lastName: this.publisher.lastName,
        isElder: this.publisher.isElder,
        isServant: this.publisher.isServant
      }
      axios.put('/api/publishers/' + this.id, publisher)
          .then((success) => {
            this.publisher = success.data;
            this.$toast('Informations proclamateur modifiées.', {
              type:'success',
              position: 'bottom-center'
            })
          })
          .catch((error) => {
            this.$toast('Erreur lors de la modification', {
              type: 'error',
              position: 'bottom-center'
            })
            console.log((error))
          })
    },
    fetchPublisher() {
      axios.get('/api/publishers/' + this.id )
          .then((success) => {
            this.publisher = success.data;
          })
    }
  },
  data(){
    return {
      publisher: null,
      id: this.$route.params.id
    }
  },
  mounted(){
    this.fetchPublisher();
  }
}
</script>

<style scoped>

</style>
