<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Discours publics</h3>
              <div class="nk-block-des text-soft">
                <p>Titre des discours publics</p>
              </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddSpeech"><em class="icon ni ni-plus-circle"></em><span>Ajouter un discours</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">Titres des discours publics</span> </h6>
              </div>
            </div>
          </div>
          <div class="card-inner p-0 border-top">
            <div class="nk-tb-list nk-tb-orders">
              <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Numero</span></div>
                <div class="nk-tb-col"><span>Titre</span></div>
                <div class="nk-tb-col tb-col-md"><span>Catégorie</span></div>
                <div class="nk-tb-col"><span>&nbsp;</span></div>
              </div>
              <div class="nk-tb-item" v-for="(speech, index) in speeches" :key="index">
                <div class="nk-tb-col">
                  <span>{{speech.number}}</span>
                </div>
                <div class="nk-tb-col">
                  <span>{{speech.title}}</span>
                </div>
                <div class="nk-tb-col tb-col-md">
                  <span>{{speech.category}}</span>
                </div>
                <div class="nk-tb-col nk-tb-col-action">
                  <div class="dropdown">
                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                      <ul class="link-list-plain">
                        <li><router-link :to="'/app/weekend/speeches/show/' + speech.id">Modifier</router-link></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div><!-- .nk-block -->
    <ModalAddSpeech @new-speech="loadNewSpeech" />
  </div>
</template>

<script>
import axios from "axios";
import ModalAddSpeech from "./fragments/ModalAddSpeech";

export default {
  name: "List",
  components: {ModalAddSpeech},
  data() {
    return {
      speeches: null
    }
  },
  methods: {
    fetchSpeeches() {
      axios.get('/api/speeches')
          .then((succes) => {
            this.speeches = succes.data
          })
    },
    loadNewSpeech(speech) {
      this.speeches.push(speech)
    }
  },
  mounted() {
    this.fetchSpeeches()
  }
}
</script>

<style scoped>

</style>
