<template>
  <div class="container-fluid" v-if="speech">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Modification d'un discours</h3>
              <div class="nk-block-des text-soft">
                <p>Gestions des discours</p>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2"><span v-if="speech.number">{{ speech.number }} -</span> {{speech.title}}</span></h6>
              </div>
            </div>
          </div>

          <div class="card-inner border-top">
            <div class="row mb-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="category">Catégorie</label>
                  <div class="form-control-wrap">
                    <select id="category" class="form-select" v-model="speech.category">
                      <option :value="category" v-for="category in categories">{{category}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="number">Numéro</label>
                  <div class="form-control-wrap">
                    <input type="number" id="number" class="form-control" v-model="speech.number">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="title">Titre</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="title" v-model="speech.title">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-4">
                <a href="#" class="btn btn-success" @click.prevent="upload">Modifier</a>
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Show",
  data() {
    return {
      speech: null,
      id: this.$route.params.id,
      categories: [
        'foi / spiritualite',
        'derniers jours / jugement de dieu',
        'religion/culte',
        'bible/dieu',
        'famille/jeunes',
        'normes / qualites chretiennes',
        'monde, ne pas faire partie du',
        'Discours spécial',
      ]
    }
  },
  methods: {
    fetchSpeech() {
      axios.get('/api/speeches/' + this.id)
          .then((success) => {
            this.speech = success.data
          })
    },
    upload() {
      axios.put('/api/speeches/' + this.id, this.speech)
          .then((success) => {
            this.speech = success.data;
            this.$toast('Discours modifié', {
              position: 'bottom-center',
              type: 'success'
            })
            this.$router.push('/app/weekend/speeches');
          })
          .catch((error) => {
            this.$toast('Erreur', {
              position: 'bottom-center',
              type: 'error'
            })
          })
    }
  },
  mounted() {
    this.fetchSpeech();
  }
}
</script>

<style scoped>

</style>
