<template>
  <div class="modal fade" id="modalAddUser">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'un utilisateur</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="first-name">Prénom</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="first-name" required v-model="user.firstName">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="last-name">Nom de famille</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="last-name" required v-model="user.lastName">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" for="email">Email</label>
              <div class="form-control-wrap">
                <input type="email" class="form-control" id="email" required v-model="user.email">
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="pay-amount">Droit(s)</label>
              <div class="form-control-wrap">
                <select class="form-select select-roles-user" multiple v-model="user.roles"></select>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postUser">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalAddUser",
  methods: {
    select2Roles() {
      let data = [
        {
          id: 'ROLE_ADMIN',
          text: 'Administrateur'
        },
        {
          id: 'ROLE_COORDINATOR',
          text: 'Coordinateur du collège'
        },
        {
          id: 'ROLE_SECRETARY',
          text: 'Secrétaire'
        },
        {
          id: 'ROLE_PUBLIC_TALK_PROGRAM_COORDINATOR',
          text: 'Coordinateur aux programmes des discours'
        },
        {
          id: 'ROLE_PUBLIC_TALK_PROGRAM_ASSISTANT',
          text: 'Assistant aux programmes des discours'
        }
      ];
      $('.select-roles-user').select2({
        data: data
      })
        .on("select2:select", e => {
          const event = new Event('change', {bubbles: true, cancelable: true});
          e.target.dispatchEvent(event);
        })
        .on("select2:unselect", e => {
          const event = new Event('change', {bubbles: true, cancelable: true});
          e.target.dispatchEvent(event);
        });
    },
    postUser() {
      axios.post('/api/users', this.user)
          .then((success) => {
            this.$toast('Utilisateur créé !', {
              type: 'success',
              position: 'bottom-center'
            });
            this.$emit('new-user', this.success.data);
            this.user = {
              firstName: null,
              lastName: null,
              email: null,
              roles: []
            }
            $('#modalAddUser').modal('hide');
          })
          .catch((error) => {
            console.log(error);
            this.$toast("Erreur lors de l'envoie du formulaire. Merci de vérifier les champs.", {
              type: 'error',
              position: 'bottom-center'
            })
          })
    }
  },
  mounted() {
    this.select2Roles();
  },
  data() {
    return {
      user: {
        firstName: null,
        lastName: null,
        email: null,
        roles: []
      }
    }
  }
}
</script>

<style scoped>

</style>
