<template>
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- wrap @s -->
      <div class="nk-wrap nk-wrap-nosidebar">
        <!-- content @s -->
        <div class="nk-content ">
          <div class="nk-split nk-split-page nk-split-md">
            <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
              <div class="nk-block nk-block-middle nk-auth-body">
                <div class="brand-logo pb-5">
                  <a href="" class="logo-link">
                    <img class="logo-light logo-img logo-img-lg" :src="logoLight" srcset="" alt="logo">
                    <img class="logo-dark logo-img logo-img-lg" :src="logoDark" srcset="" alt="logo-dark">
                  </a>
                </div>
                <div class="nk-block-head">
                  <div class="nk-block-head-content">
                    <h5 class="nk-block-title" v-if="!isResetPassword">Activation de ton compte</h5>
                    <h5 class="nk-block-title" v-else>Réinitialisation de ton mot de passe</h5>
                  </div>
                </div><!-- .nk-block-head -->
                  <div class="form-group">
                    <label class="form-label" for="password1">Mot de passe</label>
                    <div class="form-control-wrap">
                      <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password1">
                        <em class="passcode-icon icon-show icon ni ni-eye"></em>
                        <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                      </a>
                      <input type="password" class="form-control form-control-lg" id="password1" @keyup="checkValidity" v-model="password1">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password2">Répète ton mot de passe</label>
                    <div class="form-control-wrap">
                      <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password2">
                        <em class="passcode-icon icon-show icon ni ni-eye"></em>
                        <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                      </a>
                      <input type="password" class="form-control form-control-lg" id="password2" @keyup="checkValidity" v-model="password2">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-control-xs custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="checkbox" v-model="gdpr" @change="checkValidity">
                      <label class="custom-control-label" for="checkbox">Je consens à l'utilisation de mes <a tabindex="-1" href="#">données personnelles.</a></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block btn-validation-form" disabled @click.prevent="submit">Valider</button>
                  </div>

              </div><!-- .nk-block -->
              <div class="nk-block nk-auth-footer">
                <div class="nk-block-between">
                  <ul class="nav nav-sm">
                    <li class="nav-item">
                      <a class="nav-link" href="#">CGU</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Données personnelles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Aide</a>
                    </li>
                  </ul><!-- nav -->
                </div>
                <div class="mt-3">
                  <p>&copy; 2022 Mikutano - Application pour les assemblées locales des Témoins de Jéhovah</p>
                </div>
              </div><!-- nk-block -->
            </div><!-- nk-split-content -->
            <div class="nk-split-content nk-split-stretch bg-abstract"></div><!-- nk-split-content -->
          </div><!-- nk-split -->
        </div>
        <!-- wrap @e -->
      </div>
      <!-- content @e -->
    </div>
    <!-- main @e -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Activation",
  data() {
    return {
      password1: '',
      password2: '',
      gdpr: false,
      isResetPassword: this.$route.meta.resetPassword ?? false,
      logoLight: require('./../../../images/mikutano_v0_light.png'),
      logoDark: require('./../../../images/mikutano_v0.png')
    }
  },
  methods: {
    checkValidity() {
      const $btnValidationForm = this.$el.querySelector('.btn-validation-form');
      if (this.password1 === this.password2 && this.password1.length > 7 && this.gdpr) {
        $btnValidationForm.removeAttribute('disabled')
      } else {
        $btnValidationForm.setAttribute('disabled', null)
      }
    },
    submit() {
      if (!this.isResetPassword) {
        axios.post('/api/users/activate/' + this.$route.params.id, {
          password: this.password1
        })
            .then((success) => {
              this.$toast('Ton compté a été activé ! Tu peux à présent te connecter', {
                type: 'success',
                position: 'bottom-center'
              })
              location = '/login'
            })
            .catch((error) => {
              console.log(error);
              this.$toast('Erreur lors de l\'activation de ton compte. Vérifie que ton mot de passe soit de 8 caractères minimum.', {
                type: 'error',
                position: 'bottom-center'
              });
            })
      }
      else {
        axios.post('/api/users/forgot/reset/' + this.$route.params.token, {
          password: this.password1
        })
        .then((success) => {
          this.$toast('Ton mot de passe à été modifié. ✅ Tu peux à présent te connecter', {
            type: 'success',
            position: 'bottom-center'
          })
          location = '/login';
        })
        .catch((error) => {
          console.log(error);
          this.$toast('Erreur lors de l\'activation de ton compte. Vérifie que ton mot de passe soit de 8 caractères minimum.', {
            type: 'error',
            position: 'bottom-center'
          });
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
