<template>
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- wrap @s -->
      <div class="nk-wrap nk-wrap-nosidebar">
        <!-- content @s -->
        <div class="nk-content ">
          <div class="nk-split nk-split-page nk-split-md">
            <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
              <div class="nk-block nk-block-middle nk-auth-body">
                <div class="brand-logo pb-5">
                  <a href="" class="logo-link">
                    <img class="logo-light logo-img logo-img-lg" :src="logoLight" srcset="" alt="logo">
                    <img class="logo-dark logo-img logo-img-lg" :src="logoDark" srcset="" alt="logo-dark">
                  </a>
                </div>
                <div class="nk-block-head">
                  <div class="nk-block-head-content">
                    <h5 class="nk-block-title">Mot de passe oublié</h5>
                  </div>
                </div><!-- .nk-block-head -->
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <div class="form-control-wrap">
                    <input type="email" placeholder="Entre l'adresse email que tu utilises pour te connecter" class="form-control form-control-lg" id="email" v-model="email">
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block btn-validation-form" @click.prevent="submit">Valider</button>
                </div>

              </div><!-- .nk-block -->
              <div class="nk-block nk-auth-footer">
                <div class="nk-block-between">
                  <ul class="nav nav-sm">
                    <li class="nav-item">
                      <a class="nav-link" href="#">CGU</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Données personnelles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Aide</a>
                    </li>
                  </ul><!-- nav -->
                </div>
                <div class="mt-3">
                  <p>&copy; 2022 Mikutano - Application pour les assemblées locales des Témoins de Jéhovah</p>
                </div>
              </div><!-- nk-block -->
            </div><!-- nk-split-content -->
            <div class="nk-split-content nk-split-stretch bg-abstract"></div><!-- nk-split-content -->
          </div><!-- nk-split -->
        </div>
        <!-- wrap @e -->
      </div>
      <!-- content @e -->
    </div>
    <!-- main @e -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AskPassword",
  data() {
    return {
      email: '',
      logoLight: require('./../../../images/mikutano_v0_light.png'),
      logoDark: require('./../../../images/mikutano_v0.png')
    }
  },
  methods:{
    submit() {
      axios.post('/api/users/forgot/ask', {
        email: this.email
      })
        .then((success) => {
          this.$toast('Un email contenant le lien de réinitialisation t\'a été envoyé', {
            type: 'success',
            position: 'bottom-center'
          })
          this.email = '';
        })
          .catch((error) => {
            if (error.response.status === 404) {
              this.$toast('L\'utilisateur n\'a pas été trouvé avec cette e-mail', {
                type: 'error',
                position: 'bottom-center'
              })
            }
          })
    }
  }
}
</script>

<style scoped>

</style>
