<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Mon assemblée</h3>
              <div class="nk-block-des text-soft">
                <p>Gestions des utilisateurs</p>
              </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddUser"><em class="icon ni ni-plus-circle"></em><span>Ajouter un utilisateur</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">Liste des utilisateurs</span> </h6>
              </div>
            </div>
          </div>
          <div class="card-inner p-0 border-top">
            <div class="nk-tb-list nk-tb-orders">
              <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Nom</span></div>
                <div class="nk-tb-col tb-col-md"><span>Email</span></div>
                <div class="nk-tb-col tb-col-lg"><span>Droit(s)</span></div>
                <div class="nk-tb-col tb-col-md"><span>Statut</span></div>
                <div class="nk-tb-col"><span>&nbsp;</span></div>
              </div>
              <div class="nk-tb-item" v-for="(user, index) in users" :key="index">
                <div class="nk-tb-col">
                  <div class="user-card">
                    <div class="user-avatar user-avatar-sm bg-purple">
                      <span>{{user.initials}}</span>
                    </div>
                    <div class="user-name">
                      <span class="tb-lead">{{user.fullName}}</span>
                    </div>
                  </div>
                </div>
                <div class="nk-tb-col tb-col-md">
                  <span class="tb-sub">{{user.email}}</span>
                </div>
                <div class="nk-tb-col tb-col-lg">
                  <span class="tb-sub text-primary">
                    <span class="badge bg-primary ms-1" v-for="role in user.roles">{{role}}</span>
                  </span>
                </div>
                <div class="nk-tb-col tb-col-md">
                  <span class="badge badge-dot badge-dot-xs bg-success" v-if="user.isActive">Activé</span>
                  <span class="badge badge-dot badge-dot-xs bg-warning" v-else>En attente</span>
                </div>
                <div class="nk-tb-col nk-tb-col-action">
                  <div class="dropdown">
                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                      <ul class="link-list-plain">
                        <li><router-link :to="'/app/users/show/' + user.id">Voir</router-link></li>
                        <li><a href="#"  data-bs-toggle="modal" :data-bs-target="'#modalRemoveUser' + index">Supprimer</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ModalRemoveUser :user="user" :index="index" @remove-user="remove"/>
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div><!-- .nk-block -->
    <ModalAddUser @new-user="loadNewUser" />

  </div>
</template>

<script>
import axios from 'axios';
import ModalAddUser from "./fragments/ModalAddUser";
import ModalRemoveUser from "./fragments/ModalRemoveUser";
export default {
  name: "UserList",
  components: {ModalRemoveUser, ModalAddUser},

  methods: {
    fetchAll() {
      axios.get('/api/users').then((response) => {
        this.users = response.data
        this.users.forEach((user) => {
          user.fullName = user.firstName + ' ' + user.lastName;
          const firstLetterFirstName = Array.from(user.firstName)[0];
          const firstLetterLastName = Array.from(user.lastName)[0];
          user.initials = firstLetterFirstName + firstLetterLastName;
        })
      })
          .catch((error) => {
            this.$toast('error', {
              type: 'error'
            })
          })
    },
    loadNewUser(user) {
      user.fullName = user.firstName + ' ' + user.lastName;
      user.initials = Array.from(user.firstName)[0] + Array.from(user.lastName)[0]
      this.users.push(user)
    },
    remove(index) {
      this.users.splice(index, 1);
    }
  },
  mounted() {
    this.fetchAll();
  },
  data() {
    return {
      users: null
    }
  }
}
</script>

<style scoped>

</style>
