<template>
  <div class="col-xxl-12" v-if="user.roles">
    <div class="card card-bordered card-full">
      <div class="card-inner">
        <div class="card-title-group">
          <div class="card-title">
            <h6 class="title"><span class="me-2">{{user.firstName}} {{user.lastName}}</span></h6>
          </div>

        </div>
      </div>

      <div class="card-inner border-top">
        <div class="row">
          <div class="col-xs-12 col-lg-6 mt-2">
            <div class="form-group">
              <label class="form-label" for="firstName">Prénom</label>
              <div class="form-control-wrap">
                <input type="text" class="form-control" id="firstName" v-model="user.firstName">
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-6 mt-2">
            <div class="form-group">
              <label class="form-label" for="lastName">Nom</label>
              <div class="form-control-wrap">
                <input type="text" class="form-control" id="lastName" v-model="user.lastName">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-6 mt-2">
            <div class="form-group">
              <label class="form-label" for="email">Email</label>
              <div class="form-control-wrap">
                <input type="text" class="form-control" id="email" v-model="user.email">
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-6 mt-2">
            <div class="form-group">
              <label class="form-label">Droit(s)</label>
              <div class="form-control-wrap">
                <select class="form-select select-roles-user" multiple v-model="user.roles"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4">
            <a href="#" class="btn btn-success" @click.prevent="uploadUser">Modifier</a>
          </div>
        </div>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</template>

<script>
import axios from "axios";

export default {
  name: "Show",
  methods: {
    fetchUser() {
      axios.get('/api/users/' + this.id)
          .then((response) => {
            this.user = response.data;
            this.userRolesSelected = this.user.roles;
            let data = [
              {
                id: 'ROLE_ADMIN',
                text: 'Administrateur',
                selected: this.containsRole('ROLE_ADMIN')
              },
              {
                id: 'ROLE_COORDINATOR',
                text: 'Coordinateur du collège',
                selected: this.containsRole('ROLE_COORDINATOR')
              },
              {
                id: 'ROLE_SECRETARY',
                text: 'Secrétaire',
                selected: this.containsRole('ROLE_SECRETARY')
              },
              {
                id: 'ROLE_PUBLIC_TALK_PROGRAM_COORDINATOR',
                text: 'Coordinateur aux programmes des discours',
                selected: this.containsRole('ROLE_PUBLIC_TALK_PROGRAM_COORDINATOR')
              },
              {
                id: 'ROLE_PUBLIC_TALK_PROGRAM_ASSISTANT',
                text: 'Assistant aux programmes des discours',
                selected: this.containsRole('ROLE_PUBLIC_TALK_PROGRAM_ASSISTANT')
              }
            ];
            $('.select-roles-user').select2({
              data: data
            })
          })
          .catch((error) => {
            console.log(error)
            this.$toast('Erreur | Code : ' + error.response.status + ' | Message : ' + error.response.data.detail, {
              position: 'bottom-center',
              type: 'error'
            });
          })
    },
    uploadUser() {
      axios.put('/api/users/' + this.id, this.user)
          .then((response) => {
            this.$router.push({
              name: 'users_list'
            });
            this.$toast('Modifié !', {
              position: 'bottom-center',
              type: 'success'
            });
            this.user = response.data;
        })
        .catch((error) => {
          this.$toast('Erreur lors de l\'envoi du formulaire | Code : ' + error.response.status, {
            position: 'bottom-center',
            type: 'error'
          });
        })
    },
    containsRole(role) {
      if (this.user.roles) {
        return this.user.roles.includes(role);
      }
    }
  },
  mounted() {
    this.fetchUser();
    $('.select-roles-user')
        .on("select2:select", e => {
          const event = new Event('change', {bubbles: true, cancelable: true});
          e.target.dispatchEvent(event);
        })
        .on("select2:unselect", e => {
          const event = new Event('change', {bubbles: true, cancelable: true});
          e.target.dispatchEvent(event);
        });
  },
  data() {
    return {
      id: this.$route.params.id,
      user: {
        roles: []
      },
      userRolesSelected: [],
      roles: ['ROLE_COORDINATOR', 'ROLE_ADMIN', 'ROLE_SECRETARY', 'ROLE_PUBLIC_TALK_COORDINATOR', 'ROLE_PUBLIC_TALK_ASSISTANT']
    }
  }
}
</script>

<style scoped>

</style>
