<template>
  <!-- footer @s -->
  <div class="nk-footer">
    <div class="container-fluid">
      <div class="nk-footer-wrap">
        <div class="nk-footer-copyright"> &copy; 2022 Mikutano App
        </div>
        <div class="nk-footer-links">
          <ul class="nav nav-sm">
            <li class="nav-item">
              <a href="#region" class="nav-link"><span class="ms-1">Données personnelles</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer @e -->
</template>

<script>
export default {
  name: "FooterComponent"
}
</script>

<style scoped>

</style>
