<template>
  <!-- main header @s -->
  <div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
      <div class="nk-header-wrap">
        <div class="nk-menu-trigger d-xl-none ms-n1">
          <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        </div>
        <div class="nk-header-brand d-xl-none">
          <a href="html/index.html" class="logo-link">
            <img class="logo-light logo-img" :src="logoLight" srcset="" alt="logo">
            <img class="logo-dark logo-img" :src="logoDark" srcset="" alt="logo-dark">
          </a>
        </div><!-- .nk-header-brand -->
        <div class="nk-header-tools">
          <ul class="nk-quick-nav">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                <div class="user-toggle">
                  <div class="user-avatar sm">
                    <em class="icon ni ni-user-alt"></em>
                  </div>
                  <div class="user-info d-none d-md-block">
                    <div class="user-status">Administrator</div>
                    <div class="user-name dropdown-indicator">FirstName LastName</div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                  <div class="user-card">
                    <div class="user-avatar">
                      <span>AB</span>
                    </div>
                    <div class="user-info">
                      <span class="lead-text">FirstName LastName</span>
                      <span class="sub-text">info@mikutano.com</span>
                    </div>
                  </div>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>Mon profile</span></a></li>
                  </ul>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li><a href="/logout"><em class="icon ni ni-signout"></em><span>Deconnexion</span></a></li>
                  </ul>
                </div>
              </div>
            </li><!-- .dropdown -->
          </ul><!-- .nk-quick-nav -->
        </div><!-- .nk-header-tools -->
      </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
  </div>
  <!-- main header @e -->
</template>

<script>
export default {
  name: "HeaderComponent",
  data(){
    return {
      logoLight: require('./../../images/mikutano_v0_light.png'),
      logoDark: require('./../../images/mikutano_v0.png')
    }
  }
}
</script>

<style scoped>

</style>
