<template>
  <!-- sidebar @s -->
  <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
      <div class="nk-menu-trigger">
        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
      </div>
      <div class="nk-sidebar-brand">
        <a href="" class="logo-link nk-sidebar-logo">
          <img class="logo-light logo-img" :src="logoLight"  alt="logo">
          <img class="logo-dark logo-img" :src="logoDark"  alt="logo-dark">
        </a>
      </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element nk-sidebar-body">
      <div class="nk-sidebar-content">
        <div class="nk-sidebar-menu" data-simplebar>
          <ul class="nk-menu">
            <li class="nk-menu-heading">
              <h6 class="overline-title text-primary-alt">Mon assemblée</h6>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item">
              <router-link to="/app/users" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                <span class="nk-menu-text">Utilisateurs</span>
              </router-link>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item">
              <router-link to="/app/publishers" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                <span class="nk-menu-text">Proclamateurs</span>
              </router-link>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item has-sub">
              <a href="#" class="nk-menu-link nk-menu-toggle">
                <span class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
                <span class="nk-menu-text">Attributions</span>
              </a>
              <ul class="nk-menu-sub">
                <li class="nk-menu-item">
                  <router-link to="/app/weekend/privileges" class="nk-menu-link"><span class="nk-menu-text">Réunion du week-end</span></router-link>
                </li>
              </ul><!-- .nk-menu-sub -->
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-heading">
              <h6 class="overline-title text-primary-alt">Discours publics</h6>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item">
              <router-link to="/app/weekend/speeches" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-file-text"></em></span>
                <span class="nk-menu-text">S-99</span>
              </router-link>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-item">
              <router-link to="/app/weekend/categories" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span>
                <span class="nk-menu-text">Configuration</span>
              </router-link>
            </li><!-- .nk-menu-item -->
          </ul><!-- .nk-menu -->
        </div><!-- .nk-sidebar-menu -->
      </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
  </div>
  <!-- sidebar @e -->
</template>

<script>
export default {
  name: "SidebarComponent",
  methods: {
  },
  data(){
    return {
      logoLight: require('./../../images/mikutano_v0_light.png'),
      logoDark: require('./../../images/mikutano_v0.png')
    }
  }
}
</script>

<style scoped>

</style>
