<template>
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Configuration | Réunions du week end</h3>
              <div class="nk-block-des text-soft">
                <p>Configuration des réunions du week end</p>
              </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li class="nk-block-tools-opt">
                      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddWeekendCategory"><em class="icon ni ni-plus-circle"></em><span>Ajouter une catégorie de réunion</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- .nk-block-head-content -->
          </div>
        </div><!-- .nk-block-head-content -->
      </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
      <div class="col-xxl-12">
        <div class="card card-bordered card-full">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title"><span class="me-2">Liste des catégories</span> </h6>
              </div>
            </div>
          </div>
          <div class="card-inner p-0 border-top">
            <div class="nk-tb-list nk-tb-orders">
              <div class="nk-tb-item nk-tb-head">
                <div class="nk-tb-col"><span>Intitulé</span></div>
                <div class="nk-tb-col"><span>&nbsp;</span></div>
              </div>
              <div class="nk-tb-item" v-for="(category, index) in categories" :key="index">
                <div class="nk-tb-col">
                  <span>{{category.title}}</span>
                </div>
                <div class="nk-tb-col nk-tb-col-action">
                  <div class="dropdown">
                    <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                      <ul class="link-list-plain">
                        <li><a href="#"  data-bs-toggle="modal" :data-bs-target="'#modalEditWeekendCategory' + index">Modifier</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ModalEditCategory :category="category" :index="index" />
              </div>
            </div>
          </div>
        </div><!-- .card -->
      </div><!-- .col -->
    </div><!-- .nk-block -->
    <ModalAddWeekendCategory @load-new="loadNew" />
  </div>
</template>

<script>
import axios from "axios";
import ModalAddWeekendCategory from "./fragments/ModalAddWeekendCategory";
import ModalEditCategory from "./fragments/ModalEditCategory";

export default {
  name: "List",
  components: {ModalAddWeekendCategory, ModalEditCategory},
  methods: {
    fetchCategories() {
      axios.get('/api/weekend/categories')
          .then((success) => {
            this.categories = success.data
          })
    },
    loadNew(category){
      this.categories.push(category)
    }
  },
  data() {
    return {
      categories: null
    }
  },
  mounted() {
    this.fetchCategories();
  }
}
</script>

<style scoped>

</style>
