<template>
  <div class="modal fade" tabindex="-1" :id="'modalRemove' + index">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body modal-body-lg text-center">
          <div class="nk-modal">
            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-user-remove-fill bg-danger"></em>
            <h4 class="nk-modal-title">{{privilege.publisher.fullName}}</h4>
            <div class="nk-modal-text">
              <p class="lead">Souhaites-tu supprimer la totalité de ses attributions pour les réunions du week-end ?</p>
              <p class="text-soft">Cette action est irréversible</p>
            </div>
            <div class="nk-modal-action mt-5">
              <a href="#" class="btn btn-lg btn-mw btn-danger" @click.prevent="remove">Oui</a>
              <a href="#" class="btn btn-lg btn-mw btn-light" data-bs-dismiss="modal">Non</a>
            </div>
          </div>
        </div><!-- .modal-body -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalRemove",
  props: {
    privilege: Object,
    index: Number
  },
  methods: {
    remove() {
      axios.delete('/api/privileges/' + this.privilege.id)
        .then((success) => {
          this.$toast("Attributions supprimés", {
            type: 'success',
            position: 'bottom-center'
          })
          this.$emit('remove-privilege', this.index);
          $('#modalRemove' + this.index).modal('hide');
        })
        .catch((error) => {
          this.$toast("Erreur. Merci de contacter l'administrateur.", {
            type: 'error',
            position: 'bottom-center'
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
