<template>
  <div class="modal fade" :id="'modalEditPrivilege' + index">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifications d'attributions</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <h6>{{privilege.publisher.fullName}}</h6>
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-12 mt-4">
                <div class="form-group">
                  <div class="">
                    <input type="checkbox" class="form-check-input" id="reader" v-model="privilege.isReader">
                    <label class="" for="reader">Lecteur</label>
                  </div>
                </div>
                <div class="form-group" v-if="privilege.publisher.isElder || privilege.publisher.isServant">
                  <div>
                    <input type="checkbox" class="form-check-input" id="chairman" v-model="privilege.isChairman">
                    <label  for="chairman">Président</label>
                  </div>
                </div>
                <div class="form-group" v-if="privilege.publisher.isElder || privilege.publisher.isServant">
                  <div>
                    <input type="checkbox" class="form-check-input" id="speaker" v-model="privilege.isSpeaker">
                    <label class="" for="speaker">Orateur</label>
                  </div>
                </div>
                <div class="form-group" v-if="privilege.publisher.isElder">
                  <div>
                    <input type="checkbox" class="form-check-input" id="externalSpeaker" v-model="privilege.isExternalSpeaker">
                    <label  for="externalSpeaker">Orateur externe</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="update">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalEditPrivilege",
  props: {
    privilege: Object,
    index: Number
  },
  methods: {
    update() {
      const privilege = {
        isChairman: this.privilege.isChairman,
        isReader: this.privilege.isReader,
        isSpeaker: this.privilege.isSpeaker,
        isExternalSpeaker: this.privilege.isExternalSpeaker
      }
      axios.put('/api/privileges/' + this.privilege.id, privilege)
          .then((success) => {
            this.$toast('Attributions mises à jours pour ' + this.privilege.publisher.fullName, {
              type: 'success',
              position: 'bottom-center'
            })
            $('#modalEditPrivilege' + this.index).modal('hide');
            //this.$emit('load-new', success.data);
          })
    }
  },
  mounted() {
  },
  data() {
    return {
      publisher: null,
      publisherSelected: null,
      toto: {
        isReader: true
      }
    }
  }
}
</script>

<style scoped>

</style>
