<template>
  <div class="modal fade" id="modalAddPrivilege">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'attributions</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="first-name">Proclamateur</label>
                  <div class="form-control-wrap">
                    <select id="publisher" class="form-select js-select2-publisher" data-search="text" v-model="publisherSelected">
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postPrivilege()">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalAddPrivilege",
  methods: {
    fetchPublishers() {
      axios.get('/api/publishers')
          .then((success) => {
            const publishers = success.data;
            const data = [];
            publishers.forEach((publisher) => {
              if (!publisher.privilege) {
                data.push({
                  id: JSON.stringify(publisher),
                  text: publisher.fullName
                })
              }

            })
            $('.js-select2-publisher').select2({
              data: data,
              dropdownParent: $('#modalAddPrivilege'),
              placeholder: 'Choix du proclamateur'
            })
            .on("select2:select", e => {
              const event = new Event('change', {bubbles: true, cancelable: true});
              e.target.dispatchEvent(event);
              this.publisher = JSON.parse(e.target.value);
            })
            .on("select2:unselect", e => {
              const event = new Event('change', {bubbles: true, cancelable: true});
              e.target.dispatchEvent(event);
            });
          })
    },
    postPrivilege() {
      axios.post('/api/privileges/publisher/' + this.publisher.id, this.privilege)
          .then((success) => {
            this.$toast('Attributions créées pour ' + this.publisher.fullName, {
              type: 'success',
              position: 'bottom-center'
            })
            $('#modalAddPrivilege').modal('hide');
            this.$emit('load-new', success.data);
          })
    }
  },
  mounted() {
    this.fetchPublishers()
  },
  data() {
    return {
      publisher: null,
      publisherSelected: null,
      privilege: {
        isReader: false,
        isChairman: false,
        isSpeaker: false,
        isExternalSpeaker: false
      }
    }
  }
}
</script>

<style scoped>

</style>
