<template>
  <div class="modal fade modal-lg" id="modalAddWeekendCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'attributions</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="title">Intitulé</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="title" v-model="category.title">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="speaker" class="form-check-input" v-model="category.speakerEnabled">
                  <label class="form-label" for="speaker">Orateur local</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="externalSpeaker" class="form-check-input" v-model="category.externalSpeakerEnabled">
                  <label class="form-label" for="externalSpeaker">Orateur externe</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="reader" class="form-check-input" v-model="category.readerEnabled">
                  <label class="form-label" for="reader">Lecteur</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="speech" class="form-check-input" v-model="category.speechEnabled">
                  <label class="form-label" for="speech">Discours</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="chairman" class="form-check-input" v-model="category.chairmanEnabled">
                  <label class="form-label" for="chairman">Président</label>
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postCategory">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalAddWeekendCategory",
  data() {
    return {
      category: {
        speakerEnabled: false,
        readerEnabled: false,
        externalSpeakerEnabled: false,
        speechEnabled: false,
        chairmanEnabled: false,
        title: null
      }
    }
  },
  methods: {
    postCategory() {
      axios.post('/api/weekend/categories', this.category)
          .then((success) => {
            this.$toast('Catégorie : ' + this.category.title + ' ajoutée', {
              type: 'success',
              position: 'bottom-center'
            })
            $('#modalAddWeekendCategory').modal('hide');
            this.$emit('load-new', success.data);
            this.category = {
              speakerEnabled: false,
              readerEnabled: false,
              externalSpeakerEnabled: false,
              speechEnabled: false,
              chairmanEnabled: false,
              title: null
            }
          })
          .catch((error) => {
            this.$toast('Erreur', {
              type: 'error',
              position: 'bottom-center'
            })
          })
    }
  }
}
</script>

<style scoped>

</style>
