<template>
  <div class="modal fade" :id="'modalEditWeekendCategory' + index">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifications d'attributions</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <h6>{{category.title}}</h6>
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label" for="title">Intitulé</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="title" v-model="category.title" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="speaker" class="form-check-input" v-model="category.speakerEnabled">
                  <label class="form-label" for="speaker">Orateur local</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="externalSpeaker" class="form-check-input" v-model="category.externalSpeakerEnabled">
                  <label class="form-label" for="externalSpeaker">Orateur externe</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="reader" class="form-check-input" v-model="category.readerEnabled">
                  <label class="form-label" for="reader">Lecteur</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="speech" class="form-check-input" v-model="category.speechEnabled">
                  <label class="form-label" for="speech">Discours</label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input type="checkbox" id="chairman" class="form-check-input" v-model="category.chairmanEnabled">
                  <label class="form-label" for="chairman">Président</label>
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="update">Valider</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalEditCategory",
  props: {
    index: Number,
    category: Object
  },
  methods: {
    update() {
      axios.put('/api/weekend/categories/' + this.category.id, this.category)
          .then((success) => {
            this.$toast('Catégorie mise à jour.', {
              type: 'success',
              position: "bottom-center"
            })
            $('#modalEditWeekendCategory' + this.index).modal('hide');
          })
          .catch((error) => {
            this.$toast('Erreur', {
              type: 'error',
              position: "bottom-center"
            })
          })
    }
  }
}
</script>

<style scoped>

</style>
