<template>
  <div class="nk-app-root" v-if="fullTemplate">
    <!-- main @s -->
    <div class="nk-main ">
      <SidebarComponent />
      <!-- wrap @s -->
      <div class="nk-wrap ">
        <HeaderComponent/>

        <!-- content @s -->
        <div class="nk-content">
          <router-view></router-view>
        </div>
      </div>
        <!-- content @e -->

        <!-- footer @s -->
        <FooterComponent/>
        <!-- footer @e -->
      </div>
  </div>
  <router-view v-else></router-view>
      <!-- wrap @e -->
    <!-- main @e -->
  <!-- app-root @e -->
</template>

<script>
import HeaderComponent from "./components/HeaderComponent";
import SidebarComponent from "./components/SidebarComponent";
import FooterComponent from "./components/FooterComponent";
export default {
  name: "App",
  components: {FooterComponent, HeaderComponent, SidebarComponent},

  methods: {},
  mounted() {
    console.log(this.$route.meta)
  },
  data() {
    return {
      fullTemplate: this.$route.meta.fullTemplate ?? true
    }
  }
}
</script>

<style scoped>

</style>
