<!DOCTYPE html>
<html lang="zxx" class="js">

    <head>
        <meta charset="utf-8">
        <meta name="author" content="Softnio">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="App for JW congregation">
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="./images/favicon.png">
        <!-- Page Title  -->
        <title>Mikunano | {{congregation_name}}</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="https://0e996f21.mikutano.pages.dev/css/dashlite.css?ver=3.1.1">
        <link id="skin-default" rel="stylesheet" href="https://0e996f21.mikutano.pages.dev/css/theme.css?ver=3.1.1">
        {{encore_entry_link_tags('theme')}}
    </head>

    <body class="nk-body bg-lighter npc-general has-sidebar ">
        <div id="vue-app"></div>


        <!-- JavaScript -->

        <script src="https://0e996f21.mikutano.pages.dev/js/bundle.js"></script>
        <script src="https://0e996f21.mikutano.pages.dev/js/scripts.js"></script>
        <script src="https://0e996f21.mikutano.pages.dev/js/charts/gd-default.js?ver=3.1.1"></script>
        {{encore_entry_script_tags('app')}}
    </body>

</html>
