<div class="nk-block">
    <div class="card card-bordered">
        <div class="card-inner">
            <table class="email-wraper">
                <tr>
                    <td class="py-5">
                        <table class="email-header">
                            <tbody>
                            <tr>
                                <td class="text-center pb-4">
                                    <h3 class="email-title">Mikutano | Toulouse Compans</h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="email-body">
                            <tbody>
                            <tr>
                                <td class="px-3 px-sm-5 pt-3 pt-sm-5 pb-3">
                                    <h2 class="email-heading">Réinitialisation de ton mot de passe</h2>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-3 px-sm-5 pb-2">
                                    <p>Hello {{ user.firstName }},</p>
                                    <p>Tu reçois cet e-mail car tu as demandé la réinitialisation de ton mot de passe</p>
                                    <p>Clique sur le lien ci-dessous pour modifier ton mot de passe.</p>
                                    <a href="{{domain_name}}/app/forgot/reset/password/{{user.forgotToken}}" class="email-btn">Je modifie mon mot de passe !</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-3 px-sm-5 pt-4">
                                    <h4 class="email-heading-s2">ou</h4>
                                    <p>Si le lien ne fonctionne pas, copie-colle cette url dans la barre de recherche de ton navigateur :</p>
                                    <a href="{{domain_name}}/app/forgot/reset/password/{{user.forgotToken}}" class="link-block">{{domain_name}}/app/forgot/reset/password/{{user.forgotToken}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="px-3 px-sm-5 pt-4 pb-3 pb-sm-5">
                                    <p class="email-note">Ceci est un e-mail automatique, merci de ne pas y répondre. Pour nous contacter : help@mikutano.tls-compans.cloud</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="email-footer">
                            <tbody>
                            <tr>
                                <td class="text-center pt-4">
                                    <p class="email-copyright-text">Copyright © 2022 Mikutano Toulouse Compans</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
