<template>
  <div class="modal fade" id="modalAddPublisher">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajout d'un proclamateur</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" class="form-validate is-alter">
            <div class="row mb-2">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="first-name">Prénom</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="first-name" required v-model="publisher.firstName">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-label" for="last-name">Nom de famille</label>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="last-name" required v-model="publisher.lastName">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-lg-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input elder" id="elder" v-model="publisher.isElder" :disabled="publisher.isServant">
                <label class="custom-control-label" for="elder">Ancien</label>
              </div>
            </div>
            <div class="col-xs-12 col-lg-12 mt-lg-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input servant" id="servant" v-model="publisher.isServant" :disabled="publisher.isElder">
                <label class="custom-control-label" for="servant">Assistant</label>
              </div>
            </div>
            <div class="form-group mt-4">
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postPublisher(false)">Valider</button>
              <button type="submit" class="btn btn-lg btn-primary" @click.prevent="postPublisher(true)">Valider et créer un autre</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalAddPublisher",
  data(){
    return {
      publisher: {
        firstName: null,
        lastName: null,
        isElder: false,
        isServant: false
      }
    }
  },
  methods: {
    postPublisher(createNext = false) {
      axios.post('/api/publishers', this.publisher)
          .then((success) => {
            const response = success.data;
            this.publisher = {
              firstName: null,
              lastName: null,
              isElder: null,
              isServant: null
            }
            this.$toast(response.fullName + ' créé(e)', {
              type: 'success',
              position: 'bottom-center'
            })

            if (!createNext) {
              $('#modalAddPublisher').modal('hide');
            }
            this.$emit('new-publisher', response)
          })
          .catch((error) => {
            this.$toast("Erreur lors de l'envoie du formulaire", {
              type: 'error',
              position: 'bottom-center'
            })
          })
    }
  }
}
</script>

<style scoped>

</style>
