<template>
  <div class="modal fade" tabindex="-1" :id="'modalRemovePublisher' + index">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body modal-body-lg text-center">
          <div class="nk-modal">
            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-user-remove-fill bg-danger"></em>
            <h4 class="nk-modal-title">{{publisher.fullName}}</h4>
            <div class="nk-modal-text">
              <p class="lead">Souhaites-tu supprimer ce compte utilisateur ?</p>
              <p class="text-soft">Cette action est irréversible</p>
            </div>
            <div class="nk-modal-action mt-5">
              <a href="#" class="btn btn-lg btn-mw btn-danger" @click.prevent="remove">Oui</a>
              <a href="#" class="btn btn-lg btn-mw btn-light" data-bs-dismiss="modal">Non</a>
            </div>
          </div>
        </div><!-- .modal-body -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ModalRemovePublisher",
  props: {
    publisher: Object,
    index: Number
  },
  methods: {
    remove() {
      axios.delete('/api/publishers/' + this.publisher.id)
          .then((success) => {
            this.$toast("La fiche du proclamateur a été supprimée", {
              type: 'success',
              position: 'bottom-center'
            })
            this.$emit('remove-publisher', this.index);
            $('#modalRemovePublisher' + this.index).modal('hide');
          })
          .catch((error) => {
            this.$toast("Erreur lors de la suppression de la fiche du proclamateur. Merci de contacter l'administrateur.", {
              type: 'error',
              position: 'bottom-center'
            })
          })
    }
  }
}
</script>

<style scoped>

</style>
